In [1]:
import os
os.getcwd()

In [2]:
import json # import json module

# with statement
with open('../../data/trips_europeans_pp.json') as json_file:
    json_data = json.load(json_file)
    data1=json.loads('{ "trip_id": "dd17ccd818"}')

In [3]:
# print(type(json_data))
print(json_data["trips"][5]["traveler_home"])
print(json_data["trips"][5]["first_checkin"])
print(json_data["trips"][5]["last_checkin"])

for i in range(0,20):
    print(i)
    print(json_data["trips"][i]["blocks"])
    
json_data["trips"][3]["blocks"]

NL
2017-12-24 11:45:51
2017-12-25 10:01:45
0
[{'country_code': 'NL', 'first_checkin': '2018-03-28 11:08:57', 'last_checkin': '2018-03-29 08:59:42', 'duration': 2, 'num_checkins': 8}]
1
[{'country_code': 'NL', 'first_checkin': '2017-10-21 10:26:22', 'last_checkin': '2017-10-22 15:03:27', 'duration': 2, 'num_checkins': 7}]
2
[{'country_code': 'NL', 'first_checkin': '2017-10-13 09:27:11', 'last_checkin': '2017-10-14 09:28:43', 'duration': 2, 'num_checkins': 6}]
3
[{'country_code': 'NL', 'first_checkin': '2018-05-17 15:21:55', 'last_checkin': '2018-05-17 15:21:55', 'duration': 1, 'num_checkins': 1}, {'country_code': 'IT', 'first_checkin': '2018-05-17 18:14:11', 'last_checkin': '2018-05-20 04:00:07', 'duration': 4, 'num_checkins': 11}, {'country_code': 'NL', 'first_checkin': '2018-05-20 10:55:37', 'last_checkin': '2018-05-20 16:48:18', 'duration': 1, 'num_checkins': 5}]
4
[{'country_code': 'NL', 'first_checkin': '2018-04-03 08:42:03', 'last_checkin': '2018-04-04 07:26:07', 'duration': 2, 'num_checkins': 4}]
5
[{'country_code': 'NL', 'first_checkin': '2017-12-24 11:45:51', 'last_checkin': '2017-12-25 10:01:45', 'duration': 2, 'num_checkins': 7}]
6
[{'country_code': 'NL', 'first_checkin': '2018-04-16 17:07:04', 'last_checkin': '2018-04-23 12:28:31', 'duration': 8, 'num_checkins': 29}]
7
[{'country_code': 'NL', 'first_checkin': '2017-09-17 17:24:43', 'last_checkin': '2017-09-17 17:24:43', 'duration': 1, 'num_checkins': 1}, {'country_code': 'GB', 'first_checkin': '2017-09-18 10:04:22', 'last_checkin': '2017-09-19 18:56:30', 'duration': 2, 'num_checkins': 12}, {'country_code': 'NL', 'first_checkin': '2017-09-20 05:36:52', 'last_checkin': '2017-09-20 05:36:52', 'duration': 1, 'num_checkins': 1}]
8
[{'country_code': 'NL', 'first_checkin': '2017-08-02 15:05:06', 'last_checkin': '2017-08-05 20:06:06', 'duration': 4, 'num_checkins': 5}]
9
[{'country_code': 'NL', 'first_checkin': '2018-07-13 13:10:17', 'last_checkin': '2018-07-14 13:39:28', 'duration': 2, 'num_checkins': 11}]
10
[{'country_code': 'CH', 'first_checkin': '2018-06-20 23:21:20', 'last_checkin': '2018-06-22 05:38:14', 'duration': 3, 'num_checkins': 2}]
11
[{'country_code': 'FR', 'first_checkin': '2018-07-11 15:36:03', 'last_checkin': '2018-07-15 08:28:45', 'duration': 5, 'num_checkins': 4}]
12
[{'country_code': 'FR', 'first_checkin': '2018-08-26 20:01:07', 'last_checkin': '2018-08-26 20:01:07', 'duration': 1, 'num_checkins': 1}, {'country_code': 'CH', 'first_checkin': '2018-08-28 06:32:14', 'last_checkin': '2018-08-28 06:32:14', 'duration': 1, 'num_checkins': 1}, {'country_code': 'GB', 'first_checkin': '2018-08-28 22:15:06', 'last_checkin': '2018-08-31 13:24:02', 'duration': 4, 'num_checkins': 28}, {'country_code': 'CH', 'first_checkin': '2018-08-31 15:16:47', 'last_checkin': '2018-08-31 15:16:47', 'duration': 1, 'num_checkins': 1}]
13
[{'country_code': 'FR', 'first_checkin': '2018-08-23 12:42:50', 'last_checkin': '2018-08-24 07:34:44', 'duration': 2, 'num_checkins': 4}]
14
[{'country_code': 'CH', 'first_checkin': '2018-09-25 18:55:02', 'last_checkin': '2018-09-25 19:26:15', 'duration': 1, 'num_checkins': 4}, {'country_code': 'GB', 'first_checkin': '2018-09-26 07:29:20', 'last_checkin': '2018-09-27 13:25:50', 'duration': 2, 'num_checkins': 3}]
15
[{'country_code': 'FR', 'first_checkin': '2018-10-04 10:35:32', 'last_checkin': '2018-10-06 10:18:33', 'duration': 3, 'num_checkins': 7}]
16
[{'country_code': 'CH', 'first_checkin': '2018-06-25 07:52:26', 'last_checkin': '2018-06-25 07:52:26', 'duration': 1, 'num_checkins': 1}, {'country_code': 'GB', 'first_checkin': '2018-06-25 19:04:25', 'last_checkin': '2018-06-27 18:30:24', 'duration': 3, 'num_checkins': 6}]
17
[{'country_code': 'FR', 'first_checkin': '2018-09-11 13:13:24', 'last_checkin': '2018-09-11 13:13:24', 'duration': 1, 'num_checkins': 1}, {'country_code': 'CH', 'first_checkin': '2018-09-11 16:12:30', 'last_checkin': '2018-09-11 16:56:37', 'duration': 1, 'num_checkins': 5}, {'country_code': 'GB', 'first_checkin': '2018-09-11 19:35:20', 'last_checkin': '2018-09-12 19:18:46', 'duration': 2, 'num_checkins': 6}, {'country_code': 'DE', 'first_checkin': '2018-09-13 06:23:21', 'last_checkin': '2018-09-13 14:50:03', 'duration': 1, 'num_checkins': 15}]
18
[{'country_code': 'CH', 'first_checkin': '2018-07-17 04:22:37', 'last_checkin': '2018-07-17 04:22:37', 'duration': 1, 'num_checkins': 1}, {'country_code': 'GB', 'first_checkin': '2018-07-17 07:08:41', 'last_checkin': '2018-07-19 16:49:57', 'duration': 3, 'num_checkins': 29}]
19
[{'country_code': 'CH', 'first_checkin': '2018-07-30 08:21:06', 'last_checkin': '2018-07-30 08:42:39', 'duration': 1, 'num_checkins': 3}, {'country_code': 'GB', 'first_checkin': '2018-08-03 15:52:39', 'last_checkin': '2018-08-07 07:54:40', 'duration': 5, 'num_checkins': 4}]

[{'country_code': 'NL',
  'first_checkin': '2018-05-17 15:21:55',
  'last_checkin': '2018-05-17 15:21:55',
  'duration': 1,
  'num_checkins': 1},
 {'country_code': 'IT',
  'first_checkin': '2018-05-17 18:14:11',
  'last_checkin': '2018-05-20 04:00:07',
  'duration': 4,
  'num_checkins': 11},
 {'country_code': 'NL',
  'first_checkin': '2018-05-20 10:55:37',
  'last_checkin': '2018-05-20 16:48:18',
  'duration': 1,
  'num_checkins': 5}]

In [4]:
# import pandas as pd
data =json_data["trips"][3]["blocks"]
type(data)

list

In [5]:
data

[{'country_code': 'NL',
  'first_checkin': '2018-05-17 15:21:55',
  'last_checkin': '2018-05-17 15:21:55',
  'duration': 1,
  'num_checkins': 1},
 {'country_code': 'IT',
  'first_checkin': '2018-05-17 18:14:11',
  'last_checkin': '2018-05-20 04:00:07',
  'duration': 4,
  'num_checkins': 11},
 {'country_code': 'NL',
  'first_checkin': '2018-05-20 10:55:37',
  'last_checkin': '2018-05-20 16:48:18',
  'duration': 1,
  'num_checkins': 5}]

In [4]:
import json
jdata = json.loads(open ('../../data/trips_europeans_pp.json').read())

In [5]:
for c in jdata["trips"][3]["blocks"]:
    print('country_code: {}, first_checkin: {}, last_checkin: {}'.format(c.get('country_code'), c.get('first_checkin'), c.get('last_checkin')))
#     c.get('country_code')
#     c.get('first_checkin')
#     c.get('last_checkin')

country_code: NL, first_checkin: 2018-05-17 15:21:55, last_checkin: 2018-05-17 15:21:55
country_code: IT, first_checkin: 2018-05-17 18:14:11, last_checkin: 2018-05-20 04:00:07
country_code: NL, first_checkin: 2018-05-20 10:55:37, last_checkin: 2018-05-20 16:48:18

In [33]:
import numpy as np
import pandas as pd
length = len(jdata["trips"])
df = pd.DataFrame(np.zeros(shape=(1,4)))
# df.columns = ["trip_id","node","F_ckin","L_ckin"]

In [34]:
# df2 = pd.DataFrame([1,1,1,1]).T
# df3 = pd.DataFrame([2,2,2,2]).T
# df.append(df2)
# # print(df)

     0    1    2    3
0  0.0  0.0  0.0  0.0
0  1.0  1.0  1.0  1.0

In [57]:
ind = 0
init_trip = jdata["trips"][0]
df = pd.DataFrame([init_trip["traveler_home"],init_trip["first_checkin"],init_trip["last_checkin"]]).T

for trip in jdata["trips"]:
    temp_df = pd.DataFrame([trip["traveler_home"],trip["first_checkin"],trip["last_checkin"]]).T
    df = df.append(temp_df)
    for c in trip["blocks"]:
        temp_df2 = pd.DataFrame([c.get("country_code"), c.get("first_checkin"), c.get("last_checkin")]).T
        df=df.append(temp_df2)
    ind = ind+1
    if ind > 10:
        break

In [58]:
df

    0                    1                    2
0  NL  2018-03-28 11:08:57  2018-03-29 08:59:42
0  NL  2018-03-28 11:08:57  2018-03-29 08:59:42
0  NL  2018-03-28 11:08:57  2018-03-29 08:59:42
0  NL  2017-10-21 10:26:22  2017-10-22 15:03:27
0  NL  2017-10-21 10:26:22  2017-10-22 15:03:27
0  NL  2017-10-13 09:27:11  2017-10-14 09:28:43
0  NL  2017-10-13 09:27:11  2017-10-14 09:28:43
0  NL  2018-05-17 15:21:55  2018-05-20 16:48:18
0  NL  2018-05-17 15:21:55  2018-05-17 15:21:55
0  IT  2018-05-17 18:14:11  2018-05-20 04:00:07
0  NL  2018-05-20 10:55:37  2018-05-20 16:48:18
0  NL  2018-04-03 08:42:03  2018-04-04 07:26:07
0  NL  2018-04-03 08:42:03  2018-04-04 07:26:07
0  NL  2017-12-24 11:45:51  2017-12-25 10:01:45
0  NL  2017-12-24 11:45:51  2017-12-25 10:01:45
0  NL  2018-04-16 17:07:04  2018-04-23 12:28:31
0  NL  2018-04-16 17:07:04  2018-04-23 12:28:31
0  NL  2017-09-17 17:24:43  2017-09-20 05:36:52
0  NL  2017-09-17 17:24:43  2017-09-17 17:24:43
0  GB  2017-09-18 10:04:22  2017-09-19 18:56:30
0  NL  2017-09-20 05:36:52  2017-09-20 05:36:52
0  NL  2017-08-02 15:05:06  2017-08-05 20:06:06
0  NL  2017-08-02 15:05:06  2017-08-05 20:06:06
0  NL  2018-07-13 13:10:17  2018-07-14 13:39:28
0  NL  2018-07-13 13:10:17  2018-07-14 13:39:28
0  FR  2018-06-20 23:21:20  2018-06-22 05:38:14
0  CH  2018-06-20 23:21:20  2018-06-22 05:38:14